div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  width: 200px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  border: 1px solid #eee;
  font-size: 12px;
  height: 31px;
  margin: 0;
  padding: 0 4px;
  width: 100%;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: move;
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
  padding: 5px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  cursor: pointer;
  margin-left: 5px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  list-style-type: none;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 5px 10px;
}
div.ReactTags__suggestions li mark {
  background: none;
  font-weight: 600;
  text-decoration: underline;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
