// Demo Component/App  SCSS file
.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.test2{
  animation: slidein infinite 5s linear;
  padding-top: $large-space;
  font-size: $medium-Space;
}

@keyframes slidein {
  from {
    margin-left: $large-ratio;
    width: $Xlarge-ratio;
  }

  to {
    margin-left: 0%;
    width: $large-ratio;
  }
}

//Bookmark Card
.bookmarkCard {
  background-color: $white;
  border-radius: $card-radius;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
}
.bookmarkCard .details {
  border-radius: $card-radius 0 0 $card-radius;
}
.bookmarkCard .image {
  background-color: $white;
  border-radius: 0 $card-radius $card-radius 0;
}
.bookmarkCard .cardText {
  overflow: hidden;
  height: 70px;
}
.bookmarkCard .cardFoot {
  font-size: 12px;
}
.bookmarkCard .cardTitle {
  font-size: 18px;
}
.bookmarkCard img {
  height: 100%;
  width: 100%;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.text-hover:hover {
  color: $purple;
}