$card-radius: 5px;

.bookmarkCard {
  background-color: $white;
  border-radius: $card-radius;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
}
.bookmarkCard .cardFoot {
  font-size: 12px;
}
.bookmarkCard .cardText {
  overflow: hidden;
  height: 70px;
}
.bookmarkCard .cardTitle {
  font-size: 18px;
}
.bookmarkCard .details {
  border-radius: $card-radius 0 0 $card-radius;
}
.bookmarkCard .image {
  background-color: $white;
  background-repeat: no-repeat;
  background-position: contain;
  background-color: #c4c4c4;
  border-radius: 0 $card-radius $card-radius 0;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.text-hover:hover {
  color: $purple;
}
