.row.buzz-section {
  box-shadow: 0px 4px 25px rgba(94, 94, 94, 0.25);
  margin-bottom: 40px;
  padding: 20px;
}
.article-img {
  width: 100%;
  height: 100px;
}
.article-info {
  text-align: center;
}
.main-article-img {
  height: 426px;
}
.article-link, .profile-link {
  color: black;
}
.article-link:hover {
  text-decoration: none;
  color: grey;
}
.article-col {
  box-shadow: 1px 1px 1px #ffff;
  margin-bottom: 6px;
}
a > .w-30 {
  max-height: 12rem;
}
.article-col .col {
  padding-left: 0;
}
.middle-article-col {

}
.profile-link:hover {
  color: black;
}
.most-read-articles h4 {
  margin-top: 0;
}
.most-read-articles .card {
  height: 120px;
  margin-bottom: 10px;
}
.most-read-articles .card-body {
  height: 70%;
  padding: 10px;
}
.most-read-articles .card-text {
  margin-bottom: 0;
}
@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .most-read-articles {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  #main-article {
    flex-direction: column-reverse;
  }
  .most-read-articles {
    display: none;
  }
}

