#welcome-text-container {
  color: $purple;
  margin: 0.5em auto;
  margin-top: 6em;
}
#change-password-container{
  max-width: 400px;
  margin: 0 10px;
}

#change-password-page-button {
  background-color: $purple;
  border: 1px solid $purple;
  border-radius: 2.344em;
  color: $white;
  font-size: 1em;
  outline: none;
  padding: 0.4em;
  text-transform: uppercase;
  width: 100%;
}

#change-password-form-container {
  margin: 2em auto;
  width: 100%;
}

.change-password-custom-alert {
  margin-top: 20px;
  position: absolute;
}

.v-flex-page {
  justify-content: center;
}

.link-text {
  color: $purple;
}

.link-text:hover {
  text-decoration: underline; 
}
