// body {
//   background-color: $white;
//   margin: auto;
//   margin-top: 0;
// }
#welcome-text-container {
  color: $purple;
  margin: 0.5em auto;
  margin-top: 6em;
}
#change-password-container{
  max-width: 400px;
}

#change-password-form-container {
  margin: 2em auto;
  width: 100%;
}

.v-flex-page {
  justify-content: center;
}

.link-text {
  color: $purple;
}

.link-text:hover {
  text-decoration: underline; 
}

