input {
  border: none;
  box-shadow: none;
  outline: none;
  overflow: auto;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
textarea::placeholder, input::placeholder {
  color: #c4c4c4 !important;
}
[class*="close-"] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}
#img-wraper {
  display: inline-block;
  position: relative;
}
#article-column {
  text-align: center;
}
#close-image {
  font-size: 15px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.close-thik:after {
  content: "✖"; /* UTF-8 symbol */
}
.close-thik:hover {
  color: $purple;
  text-decoration: none;
}
.create-box {
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(90, 90, 90, 0.22);
  margin-top: 3%;
  max-width: 100%;
}
.add-image-icon {
  align-items: center;
  display: inline-flex;
}
i.fa-camera {
  color: $gray;
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
}
i:hover {
  opacity: 0.6;
}
#add-image {
  display: none;
}
#article-container {
  padding-top: 10px;
}
#image-holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 300px;
}
#article-body {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  resize: none;
  font-size: 20px;
  min-height: 650px;
  padding: 5px;
  resize: none;
  outline: none;
  overflow: auto;
  width: 100%;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#article body,
#title {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  overflow: auto;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#title {
  border: 0px;
  font-size: 90%;
  font-weight: bold;
  padding: 1.7%;
  padding-left: 2%;
  width: 100%;
}
h1 {
  margin: 0%;
}
.article-row {
  margin-left: -32px;
  margin-right: -32px;
}
@media (min-width: 200px) and (max-width: 800.98px) {
  #hamburger {
    width: 15%;
  }
  #head-title {
    width: 85%;
  }
  #search-col {
    width: 100%;
  }
  #header-button {
    width: 50%;
  }
  #notify-col {
    width: 25%;
    text-align: right;
  }
  #image-col {
    width: 25%;
    text-align: right;
  }
}

@media (min-width: 800.98px) and (max-width: 1191px) {
  #hamburger {
    min-width: 9%;
  }
  #head-title {
    min-width: 25%;
  }
  #search-col {
    min-width: 26%;
  }
  #header-button {
    min-width: 22%;
  }
  #notify-col {
    min-width: 9%;
    text-align: right;
  }
  #image-col {
    min-width: 9%;
    text-align: right;
  }
}

.article-alert {
  height: 50px;
  padding-top: 1%;
  font-size: 150%;
  position: fixed;
  right:5px;
  top:5px;
  z-index: 300;
}