.fa:hover, input[type=button] {
  cursor: pointer;
}
input[type=button]:hover {
  // filter: blur(1px);
  opacity: 0.5;
}
#hamburger {
  text-align: center;
  padding-left: 3%;
}
#header {
  background: white;
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(90, 90, 90, 0.22);
  font-size: 25px;
  padding: 10px;
  z-index: 50 !important;
}
#header-title {
  font-weight: bold;
}
#contain {
  margin: auto;
  width: 100%;
}
#publish, #draft {
  background: $purple;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  padding: 5px;
  width: 80px;
}
#draft {
  background: #fcfcfc;
  border: 0px;
  color: $purple;
  margin-left: 10%;
}
#header-button {
  text-align: center;
}
#search {
  border: 0px;
  border-bottom: 1px solid;
  border-color: rgba(90, 90, 90, 0.22);
  display: none;
  font-size: 15px;
  padding-left: 7px;
  width: 70%;
}
#search-col {
  text-align: right;
}
#img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#img:hover {
  cursor: pointer;
}
