.login-image-container {
  display: none;
 }
 
 .login-body {
   font-family: $font-family;
 }
 
 .right-login {
   margin-top: 40%;
   text-align: center;
   position: relative;
 }
 
 .custom-alert {
  left: 0%;
  position: absolute;
  right: 0%;
  top: -45%;
  width: 100%;
 }
 
 .right-login {
   h3, h5{
     color: $purple;
     font-style: normal;
     font-weight: normal;
     letter-spacing: 0.1em;
   }
   h3 {
     font-size: 19px;
   }
   h5{
     font-size: 15px;
     margin-top: 8%;
   }
   input {
     border: 1px solid $purple;
     border-radius: 1.90625em;
     font-size: 130%;
     padding-left: 10%;
     position: relative;
     width: 12em;
     height: 1.8em;
   }
 
   input:focus {
     outline: none;
   }
   
   .form-group {
     display: inline-block;
     margin-bottom: 0;
     margin-top: 4%;
   }
   p {
     color: $purple;
     text-align: right;
   }
   a {
     text-decoration: none;
   }
 }
 
 .forgot-password {
   display: inline-block;
   font-size: 80%;
   margin-bottom: 5%;
   text-align: right;
   width: 70%;
 }
 
 .social-media-icons {
   .twitter, .google, .facebook{
     display: inline-block;
     height: 40px;
     margin-right: 5%;
     margin-top: 15%;
     width: 40px;
   }
   
   .twitter  {
     border-radius: 100%;
   }
 }
 
 
 .facebook {
   background: url('images/facebook.svg') no-repeat;
   background-position: center;
   background-size: cover;
 }
 
 .twitter {
   background: url('images/twitter.svg') no-repeat;
 }
 
 .google {
   background: url('images/google-plus.svg') no-repeat;
 }
 
 .facebook, .twitter, .google {
   cursor: pointer;
   display: block;
   height: 5vh;
 }
 
 .login-buttons {
   display: inline-block;
 
   .login-col,
   .signup-col {
     display: inline-block;
     width: 48%;
   }
   .login-col{
     margin-right: 2%;
   }
   .signup-col {
     margin-left: 2%;
   }
 }
 
 .login-btn { 
   border: 1px solid $purple;
   border-radius: 2.34375em;
   cursor: pointer; 
   height: 2em;
   outline: none;
   width: 6em;
 }
 
 .signup-btn {
    border: 1px solid $purple;
    border-radius: 2.34375em;
    cursor: pointer; 
    height: 2em;
    outline: none;
    width: 6em;
 }
 
 .signup-btn:hover {
   color: $purple
 }
 
 .login-btn:focus, .signup-btn:focus {
   outline: none;
 }
 
 .login-btn {
   background-color: $purple;
   color: $white
 }
 
 .login-btn:disabled{
   cursor: not-allowed;
 }
 
 .signup-btn {
   background-color: $white;
   color: $purple
 }
 
 .login-valid-feedback, .login-invalid-feedback {
   padding-left: 8%;
   text-align: left;
 }
 
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 70%;
 }
 ::-moz-placeholder { /* Firefox 19+ */
   font-size: 70%;
 }
 :-ms-input-placeholder { /* IE 10+ */
   font-size: 70%;
 }
 :-moz-placeholder { /* Firefox 18- */
   font-size: 70%;
 }

 
@media (min-width: 734px) and (max-width: 768px) {
  .login-image-container {
    background: url('images/undraw_directions_x53j.svg') no-repeat ;
    background-size: contain;
    display: block;
    height: 50vh;
    margin: 40% auto;
   }
   .login-img {
    display: block;
    height: 45vh;
    margin: 25% auto;
  }
  .right-login {
    text-align: center;

    h3, h5{
      color: $purple;
      letter-spacing: 0.1em;
    }
    h3 {
      font-size: 20px;
    }
    h5{
      font-size: 15px;
      margin-top: 9%;
    }
    input {      
      border: 1px solid $purple;
      border-radius: 1.90625em;
      font-size: 130%;
      height: 0.5em;
      padding-left: 10%;
      width: 0.5em;
    }
  }  
  .login-btn { 
    border: 1px solid $purple;
    border-radius: 2.34375em;
    cursor: pointer; 
    height: 3.125em;
    outline: none;
    width: 10.625em;
  }
  
  .signup-btn {
    border: 1px solid $purple;
    border-radius: 2.34375em;
    cursor: pointer; 
    height: 3.125em;
    outline: none;
    width: 10.625em;
  }
}


@media (min-width: 576px) {
     .login-body {
       font-family: $font-family;
     }
     
     .right-login {
       display: inline-block;
       margin-top: 10%;
       text-align: center;
     }
     
     .custom-alert {
       position: absolute;
       right: 2%;
       top: -15%;
       width: 100%;
     }
     
     .right-login {
       h3, h5{
         color: $purple;
         font-style: normal;
         font-weight: normal;
         letter-spacing: 0.1em;
       }
       h5{
         margin-top: 7%;
       }
       input {
         border: 1px solid $purple;
         border-radius: 1.90625em;
         font-size: 130%;
         height: 2.5em;
         padding-left: 10%;
         position: relative;
         width: 20em;
       }
     
       input:focus {
         outline: none;
       }
       
       .form-group {
         display: inline-block;
         margin-bottom: 0;
         margin-top: 4%;
        }
       p {
         color: $purple;
         text-align: right;
       }
       a {
         text-decoration: none;
       }
     }
     
     .forgot-password {
       display: inline-block;
       font-size: 80%;
       margin-bottom: 5%;
       text-align: right;
       width: 70%;
     }
     
     .social-media-icons {
       .twitter, .google, .facebook{
         display: inline-block;
         height: 50px;
         margin-right: 5%;
         margin-top: 5%;
         width: 50px;
       }
       
       .twitter  {
         border-radius: 100%;
       }
     }
     
     
     .facebook {
       background: url('images/facebook.svg') no-repeat;
       background-position: center;
       background-size: cover;
     }
     
     .twitter {
       background: url('images/twitter.svg') no-repeat;
     }
     
     .google {
       background: url('images/google-plus.svg') no-repeat;
     }
     
     .facebook, .twitter, .google {
      cursor: pointer;
      display: block;
      height: 5vh;
     }
     
     .login-buttons {
       display: inline-block;
     
       .login-col,
       .signup-col {
        display: inline-block;
        width: 48%;
       }
       .login-col{
         margin-right: 2%;
       }
       .signup-col {
         margin-left: 2%;
       }
     }
     
     .login-btn { 
       border: 1px solid $purple;
       border-radius: 2.34375em;
       width: 10.625em;
       height: 3.125em;
       outline: none;
       cursor: pointer; 
     }
     
     .signup-btn {
       border: 1px solid $purple;
       border-radius: 2.34375em;
       width: 10.625em;
       height: 3.125em;
       outline: none;
       cursor: pointer; 
     }
     
     .signup-btn:hover {
       color: $purple
     }
     
     .login-btn:focus, .signup-btn:focus {
       outline: none;
     }
     
     .login-btn {
       background-color: $purple;
       color: $white
     }
     
     .login-btn:disabled{
       cursor: not-allowed;
     }
     
     .signup-btn {
       background-color: $white;
       color: $purple
     }
     
     .login-valid-feedback, .login-invalid-feedback {
       padding-right: 55%;
     }
     
     ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
       color: #c4c4c4;
       font-size: 90%;
     }
     ::-moz-placeholder { /* Firefox 19+ */
       color: #c4c4c4;
       font-size: 90%;
     }
     :-ms-input-placeholder { /* IE 10+ */
       color: #c4c4c4;
       font-size: 90%;
     }
     :-moz-placeholder { /* Firefox 18- */
       color: #c4c4c4;
       font-size: 90%;
     }
}


@media(min-width: 992px) {
  .login-image-container {
    background: url('images/undraw_directions_x53j.svg') no-repeat ;
    background-size: contain;
    display: block;
    height: 50vh;
    margin: 25% auto;
   }
   
   .login-img {
     display: block;
     height: 45vh;
     margin: 25% auto;
   }
   
   .login-body {
     font-family: $font-family;
   }
   
   .right-login {
     margin-top: 5%;
     text-align: center;
   }
   
   .custom-alert {
     position: absolute;
     right: 2%;
     top: -15%;
     width: 100%;
   }
   
   .right-login {
     h3, h5{
       color: $purple;
       font-style: normal;
       font-weight: normal;
       letter-spacing: 0.1em;
     }
     h3 {
       font-size: 200%;
     }
     h5{
       margin-top: 7%;
       font-size: 100%;
     }
     input {
       width: 20em;
       height: 2em;
       border: 1px solid $purple;
       border-radius: 1.90625em;
       padding-left: 10%;
       position: relative
     }
   
     input:focus {
       outline: none;
     }
     
     .form-group {
       margin-top: 4%;
       display: inline-block;
       margin-bottom: 0;
     }
     p {
       color: $purple;
       text-align: right;
     }
     a {
       text-decoration: none;
     }
   }
   
   .forgot-password {
     display: inline-block;
     text-align: right;
     margin-bottom: 5%;
     font-size: 80%;
     width: 70%;
   }
   
   .social-media-icons {
     .twitter, .google, .facebook{
       display: inline-block;
       width: 50px;
       height: 50px;
       margin-right: 5%;
       margin-top: 5%;
     }
     
     .twitter  {
       border-radius: 100%;
     }
   }
   
   
   .facebook {
     background: url('images/facebook.svg') no-repeat;
     background-position: center;
     background-size: cover;
   }
   
   .twitter {
     background: url('images/twitter.svg') no-repeat;
   }
   
   .google {
     background: url('images/google-plus.svg') no-repeat;
   }
   
   .facebook, .twitter, .google {
     display: block;
     height: 5vh;
     cursor: pointer;
   }
   
   .login-buttons {
     display: inline-block;
   
     .login-col,
     .signup-col {
      display: inline-block;
       width: 47%;
     }
     .login-col{
       margin-right: 2%;
     }
     .signup-col {
       margin-left: 2%;
     }
   }
   
   .login-btn { 
      border: 1px solid $purple;
      border-radius: 2.34375em;
      cursor: pointer; 
      height: 2.5em;
      outline: none;
      width: 10.625em;
   }
   
   .signup-btn {
      border: 1px solid $purple;
      border-radius: 2.34375em;
      cursor: pointer; 
      height: 2.5em;
      outline: none;
      width: 10.625em;
   }
   
   .signup-btn:hover {
     color: $purple
   }
   
   .login-btn:focus, .signup-btn:focus {
     outline: none;
   }
   
   .login-btn {
     background-color: $purple;
     color: $white
   }
   
   .login-btn:disabled{
     cursor: not-allowed;
   }
   
   .signup-btn {
     background-color: $white;
     color: $purple
   }
   
   .login-valid-feedback, .login-invalid-feedback {
     padding-right: 55%;
   }
  
   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     font-size: 1em;
   }
   ::-moz-placeholder { /* Firefox 19+ */
     font-size: 1em;
   }
   :-ms-input-placeholder { /* IE 10+ */
     font-size: 1em;
   }
   :-moz-placeholder { /* Firefox 18- */
     font-size: 1em;
   }
}






/* <div>Icons made by <a href='https://www.flaticon.com/authors/freepik' title='Freepik'>Freepik</a> from <a href='https://www.flaticon.com/' 		    title='Flaticon'>www.flaticon.com</a> is licensed by <a href='http://creativecommons.org/licenses/by/3.0/' 		    title='Creative Commons BY 3.0' target='_blank'>CC 3.0 BY</a></div> */
/* <div>Icons made by <a href='https://www.flaticon.com/authors/freepik' title='Freepik'>Freepik</a> from <a href='https://www.flaticon.com/' 		    title='Flaticon'>www.flaticon.com</a> is licensed by <a href='http://creativecommons.org/licenses/by/3.0/' 		    title='Creative Commons BY 3.0' target='_blank'>CC 3.0 BY</a></div> */