.login-image-container {
  display: block;
  margin: 25% auto;
  height: 50vh;
  background: url("./images/undraw_directions_x53j.svg") no-repeat ;
  background-size: contain;
}

.login-img {
  display: block;
  height: 45vh;
  margin: 25% auto;
}

.login-body {
  font-family: $font-family;
}

.right-login {
  text-align: center;
  margin-top: 8%;
}

.right-login {
  h3, h5{
    color: $purple;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
  }
  h5{
    margin-top: 7%;
  }
  input {
    width: 20em;
    height: 2.5em;
    border: 1px solid $purple;
    border-radius: 1.90625em;
    padding-left: 10%;
    font-size: 130%;
  }
  
  .form-group {
    margin-top: 4%;
    display: inline-block;
  }
  p {
    color: $purple;
    text-align: right;
  }
  a {
    text-decoration: none;
  }
}

.forgot-password {
  margin-right: 23%;
  margin-bottom: 5%;
  font-size: 80%;
}

.social-media-icons {
  .twitter, .google, .facebook{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5%;
    margin-top: 5%;
  }
  
  .twitter  {
    border-radius: 100%;
  }
}


.facebook {
  background: url("./images/facebook.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.twitter {
  background: url("./images/twitter.svg") no-repeat;
}

.google {
  background: url("./images/google-plus.svg") no-repeat;
}

.facebook, .twitter, .google {
  display: block;
  height: 5vh;
  cursor: pointer;
}

.login-buttons {
  margin: 0 auto;
  width: 100%;

  .login-col,
  .signup-col {
    display: inline-block;
    width: 30%;
    margin-right: 6%;
  }
}

.login-btn, .signup-btn{ 
  border: 1px solid $purple;
  border-radius: 2.34375em;
  width: 10.625em;
  height: 3.125em;
  outline: none; 
}

.login-btn {
  background-color: $purple;
  color: $white
}

.login-btn:disabled{
  cursor: not-allowed;
}

.signup-btn {
  background-color: $white;
  color: $purple
}

.valid-feedback, .invalid-feedback {
  padding-right: 55%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 70%;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 70%;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 70%;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 70%;
}









/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */