.pagination {
    margin: 0 auto;
}

.pagination .active {
    background-color: $purple;
}

.pagination-item.active a {
    color: $white;
}

.pagination-item {
    border: 1px solid $purple;
    margin-right: 20px;
    padding: 10px;    
    width: 49px;
    text-align: center;
}

.pagination-link {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $black;
    margin-top: 50%;
}



