
body {
  background-color: $white;
  margin: auto;
}

h2 {
  text-transform: uppercase;
}

#welcome-text-container {
  color: $purple;
  margin: 2em auto;
}
#welcome-container{
  margin-top: 2em;
}
#signup-image {
  background: url('images/signupImage.svg') no-repeat;
  background-size: contain;
  display: block;
  height: 100vh;
  width: 100%;
}

.signup-form-input::placeholder { /* Chrome/Opera/Safari */
  color: $placeholderText;
}
.signup-form-input::-moz-placeholder { /* Firefox 19+ */
  color: $placeholderText;
}
.signup-form-input:-ms-input-placeholder { /* IE 10+ */
  color: $placeholderText;
}
.signup-form-input:-moz-placeholder { /* Firefox 18- */
  color: $placeholderText;
}

#form-container {
  margin: 3.4em auto;
  width: 70%;
}

.signup-form-input {
  background: #FFFFFF;
  border: 1px solid $purple;
  border-radius: 1.9em;
  color: $purple;
  font-size: 1em;
  height: 2.5em;
  margin: 2em auto;
  padding: 1em;
}
#signup-page-button {
  background-color: $purple;
  border: 1px solid $purple;
  border-radius: 2.344em;
  color: $white;
  font-size: 1em;
  outline: none;
  padding: 0.4em;
  text-transform: uppercase;
  width: 90%;
}

.login-link-container {
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
  text-decoration: none;
}

.login-link{ 
  text-align: center;
  color: $purple;
  text-decoration: none;
}

.signup-invalid-feedback, .signup-valid-feedback {
  bottom: -50%;
  font-size: 180%;
  padding-left: 5%;
  position: absolute;
  width: 100%;
}

.signup-custom-alert {
  position: absolute;
  top: -19%;
  left: 0;
  right: 0;
  width: 100%;
}
.signup-div-class {
  position: relative;
}

.signup-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-page-container {
  margin-top: 4em;
}

@media(min-width: 992px) {
  .signup-invalid-feedback, .signup-valid-feedback {
    bottom: -50%;
    font-size: 80%;
    padding-left: 5%;
    position: absolute;
    width: 100%;
  }

  .signup-custom-alert {
    position: absolute;
    top: -5%;
    width: 100%;
  }
}

