//Demo Colors
$purple: #800080;
$white: #ffffff;
$light-purple: lighten($purple, 30%);

//sDemo pacing in pixels
$small-space: 10px;
$medium-Space: 50px;
$large-space: 100px;

//Demo spacing in percentage
$large-ratio: 100%;
$Xlarge-ratio: 300%;

//font family 
$font-family: 'Reem Kufi', sans-serif;
