//Demo Colors
$white: #ffffff;
$purple: #800080;
$light-purple: lighten($purple, 30%);

//sDemo pacing in pixels
$small-space: 10px;
$medium-Space: 50px;
$large-space: 100px;

//Demo spacing in percentage
$small-ratio: 5%;
$large-ratio: 100%;
$Xlarge-ratio: 300%;

$font-family:'Reem Kufi', sans-serif;
$red: red;
