//Demo Colors
$purple: #800080;
$light-purple: lighten($purple, 30%);
$placeholderText:#c4c4c4;
$white: #ffffff;

//sDemo pacing in pixels
$large-space: 100px;
$medium-Space: 50px;
$small-space: 10px;

//Demo spacing in percentage
$large-ratio: 100%;
$reem-kufi: 'Reem Kufi', sans-serif;
$Xlarge-ratio: 300%;

//Bookmark Card
$card-radius: 5px;
$font-Family: 'Reem Kufi', sans-serif;
